:root {
    --colorTexto: rgb(22, 107, 204);
    --backgroundColor: #262335;
    --neonViolet: #F11A8A;
    --neonBlue: #00EBFF;
    --neonGreen: #00DF59;
    --fontSize: 1.5vw;
    --font: 'Fascinate Inline',
        cursive;
}

body {
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Organizaci贸n de elementos*/
.gameCont {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombreApellido {
    display: flex;
}

.botonSalir {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*Estilos*/
.marcoFoto {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    color: var(--neonBlue);
    background-color: var(--backgroundColor);
    border: 1px solid var(--neonBlue);
    box-shadow: 0 0 10px var(--neonBlue);
}

.foto {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: block;
    margin: 2.5em auto;
    object-fit: cover;
}

.marco {
    background-color: var(--backgroundColor);
    width: 18vw;
    height: 83vh;
    padding: .5em 1em;
    border: 1px solid var(--neonGreen);
    box-shadow: 0 0px 15px 0 var(--neonGreen),
        0 0px 15px 0 var(--neonGreen),
        0 0px 15px 0 var(--neonGreen),
        0 0px 15px 0 var(--neonGreen);
}

.marcoizq {
    border-radius: 0 1em 1em 0;
}

.marcoder {
    border-radius: 1em 0 0 1em;
}

.boton {
    padding: .4em;
    border-radius: 1em;
    border: none;
    margin: .4em;
    font-size: var(--fontSize);
    cursor: pointer;
    outline: none;
    font-family: var(--font);
}

.btnNombre {
    width: 70%;
    height: 9%;
    color: var(--neonViolet);
    background-color: var(--backgroundColor);
    border: 1px solid var(--neonViolet);
    box-shadow: 0 0 10px var(--neonViolet);
    transition: 0.2s;
}

.btnNombre:hover {
    color: var(--backgroundColor);
    background-color: var(--neonViolet);
    box-shadow: 0 0 10px var(--neonViolet),
        0 0 40px var(--neonViolet),
        0 0 80px var(--neonViolet);
}

.btnAdivina {
    width: 50%;
    height: 9%;
    color: var(--neonBlue);
    background-color: var(--backgroundColor);
    border: 1px solid var(--neonBlue);
    box-shadow: 0 0 10px var(--neonBlue);
    transition: 0.2s;
}

.btnAdivina:hover {
    color: var(--backgroundColor);
    background-color: var(--neonBlue);
    box-shadow: 0 0 10px var(--neonBlue),
        0 0 40px var(--neonBlue),
        0 0 80px var(--neonBlue);
}

.botonSalir {
    background-color: var(--backgroundColor);
    border: 1px solid var(--neonViolet);
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
    color: var(--neonViolet);
    font-family: var(--font);
    outline: none;

    box-shadow: 0 0 10px var(--neonViolet);
    transition: 0.2s;
}

.botonSalir:hover {
    background-color: var(--neonViolet);
    color: var(--backgroundColor);
    box-shadow: 0 0 10px var(--neonViolet),
        0 0 40px var(--neonViolet),
        0 0 80px var(--neonViolet);
}

.input {
    width: 40%;
    padding: 1.5em;
    margin: 1em .3em;
    border-radius: 1em;
    color: var(--neonViolet);
    background-color: var(--backgroundColor);
    border: 1px solid var(--neonViolet);
    box-shadow: 0 0 10px var(--neonViolet);
}

::placeholder {
    color: var(--neonViolet);
    font-size: var(--fontSize);
    font-family: var(--font);
}

/* Animaci贸n - Introduccion*/
.introduccion {
    background-color: #191722;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoIntroduccion {
    font-family: 'Fascinate Inline',
        cursive;
    /* color: rgb(241, 210, 28); */
    color: var(--neonBlue);
}

.titulo {
    background-color: transparent;
    overflow: hidden;
    margin: 0;
}

.texto {
    transform: translateY(100%);
    display: inline-block;
}

.primerTexto {
    font-size: 2em;
}

.segundoTexto {
    font-size: 4em;
}

.slider {
    /* background-color: rgb(99, 119, 122); */
    background-color: rgb(93, 93, 139);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

/*Responsive*/
/*Responsive Tablet*/
@media only screen and (max-width: 768px) {
    .marcoFoto {
        width: 250px;
        height: 250px;
    }

    .foto {
        width: 200px;
        height: 200px;
        margin: 1.8em auto;
    }

    .nombreApellido {
        margin: auto;
        flex-direction: column;

    }

    .input {
        width: 60%;
        align-self: center;
    }

    .btnNombre {
        font-size: 16px;
        width: 90%;
    }

    .btnAdivina {
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }

}

/*Responsive Celular*/
@media only screen and (max-width: 576px) {
    .gameCont {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "contCenter"
            "marcoizq"
            "marcoder";
    }

    .contCenter {
        grid-area: contCenter;
    }

    .marcoizq {
        grid-area: marcoizq;
    }

    .marcoder {
        grid-area: marcoder;
    }

    .marco {
        width: 75vw;
        height: 45vh;
        padding: 1em 1em 1em 2.5em;
        border-radius: 1em;
        margin: 1em auto;
    }

    .marcoFoto {
        width: 100px;
        height: 100px;
    }

    .foto {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .nombreApellido {
        flex-direction: column;
    }

    .input {
        width: 80%;
        height: 20%;
        padding: .8em;
        margin: .5em 0;
        margin: .5em auto;
    }

    .boton {
        font-size: 16px;
    }

    .btnNombre {
        width: 40%;
        height: 20%;
        padding: 0;
    }

    ::placeholder {
        font-size: 16px;
    }

    /*Animaci贸n - Introducci贸n*/
    .primerTexto {
        font-size: 1em;
    }

    .segundoTexto {
        font-size: 2em;
    }
}